@import 'nib'
global-reset()

*
  outline none
  box-sizing border-box

body, html
  height 100%
  padding 0
  margin 0
  overflow hidden

#react-root
  height 100%


@import '../imports/layouts/*'
@import '../imports/components/*'
