# system files
.DS_Store

# node.js
node_modules/
npm-debug.log

# application
/configuration.json
configurations/**/*
!configurations/development/settings-example.json
ESP8266-code/configuration.h
/dist
