#Cologne66
  .cls-1
    fill #0d0
    stroke-width 1px
  .cls-2, .cls-4
    stroke-width 1px
    fill #f2f2f2
  .cls-2, .cls-3, .cls-5, .cls-6, .cls-7
    stroke-width 1px
    stroke #000
  .cls-2, .cls-3, .cls-5, .cls-6, .cls-7, .cls-8
    stroke-miterlimit 10
  .cls-3
    stroke-width 1px
    fill #fff
  .cls-5, .cls-6, .cls-7, .cls-8
    stroke-width 1px
    fill none
  .cls-6
    stroke-width 0.3px
  .cls-7, .cls-8
    stroke-width 1px
  .cls-8
    stroke #fff
