.Dusseldorf65_cls-1, .Dusseldorf65_cls-2, .Dusseldorf65_cls-3 {
  fill: none;
}
.Dusseldorf65_cls-2, .Dusseldorf65_cls-3, .Dusseldorf65_cls-4 {
  stroke: #000;
  stroke-miterlimit: 10;
}
.Dusseldorf65_cls-3, .Dusseldorf65_cls-4 {
  stroke-width: 0.75px;
}
.Dusseldorf65_cls-4 {
  fill: #fff;
}
.Dusseldorf65_cls-5 {
  isolation: isolate;
}
.Dusseldorf65_cls-6 {
  clip-path: url(#clip-path);
}

#Dusseldorf65 #loading {
  fill: none;
}
