.DoorNumber65_cls-1, .DoorNumber65_cls-2, .DoorNumber65_cls-3 {
  fill: none;
}
.DoorNumber65_cls-2, .DoorNumber65_cls-3, .DoorNumber65_cls-4 {
  stroke: #000;
  stroke-miterlimit: 10;
}
.DoorNumber65_cls-3, .DoorNumber65_cls-4 {
  stroke-width: 0.75px;
}
.DoorNumber65_cls-4 {
  fill: #fff;
}
.DoorNumber65_cls-5 {
  isolation: isolate;
}
.DoorNumber65_cls-6 {
  clip-path: url(#clip-path);
}

#DoorNumber65 #loading {
  fill: none;
}
