.DoorNumber4_cls-1 {
  fill: #7d7d7d
}

.DoorNumber4_cls-2, .DoorNumber4_cls-3, .DoorNumber4_cls-4 {
  fill: none
}

.DoorNumber4_cls-10, .DoorNumber4_cls-11, .DoorNumber4_cls-2, .DoorNumber4_cls-3, .DoorNumber4_cls-4, .DoorNumber4_cls-6, .DoorNumber4_cls-7, .DoorNumber4_cls-8 {
  stroke: #000
}

.DoorNumber4_cls-10, .DoorNumber4_cls-2, .DoorNumber4_cls-6, .DoorNumber4_cls-7, .DoorNumber4_cls-8, .DoorNumber4_cls-9 {
  stroke-miterlimit: 10
}

.DoorNumber4_cls-2, .DoorNumber4_cls-3, .DoorNumber4_cls-4, .DoorNumber4_cls-6, .DoorNumber4_cls-7 {
  stroke-width: 6px
}

.DoorNumber4_cls-3 {
  stroke-linejoin: round
}

.DoorNumber4_cls-11, .DoorNumber4_cls-4 {
  stroke-linejoin: bevel
}

.DoorNumber4_cls-10, .DoorNumber4_cls-5, .DoorNumber4_cls-6, .DoorNumber4_cls-9 {
  fill: #fff
}

.DoorNumber4_cls-7 {
  fill: #989898
}

.DoorNumber4_cls-10, .DoorNumber4_cls-11, .DoorNumber4_cls-8, .DoorNumber4_cls-9 {
  stroke-width: 2px
}

.DoorNumber4_cls-9 {
  stroke: #fff
}

#loading.DoorNumber4_cls-2 {
  stroke-dasharray: 15, 40 !important
  stroke-width: 8px !important
  animation: BelgradeDash 500ms linear infinite !important
  animation-direction: reverse !important
}

@keyframes BelgradeDash
  to
    stroke-dashoffset: 55
