svg.door
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  display inline-block
  overflow hidden
  height 100%
  user-select none
  stroke none
  @media notmobile
    padding 50px 0

  .stroke
    stroke #1d1d1b
    stroke-miterlimit 10
    stroke-width 1.5px
    @media notmobile
      stroke-width 2px

  #loading
    stroke white
    stroke-dasharray 3, 15
    stroke-dashoffset 0
    transition opacity 100ms linear
    animation dash 500ms linear infinite
    @keyframes dash
      to
        stroke-dashoffset 18
    stroke-width 3px
    @media notmobile
      stroke-width 4px

  .nofill
    fill none

  .black
    fill #1d1d1b

  .dark
    fill #222222

  .white
    fill #fff

  .red
    fill #ff0000

  #door
    transform-origin 100% 100%

  .darkness
    transition fill 100ms linear

  .open
    fill yellow !important

  .animation
    transition transform 100ms ease-in

  #error
    opacity 0
    transition opacity 100ms ease-in
